header {
	background-color: #BF9000;
	color: #274E13;
	font-weight: bold;
	font-size: 18px;
	height: 50px;
	width: 100%;
	position: absolute;
}

footer {
	background-color: #BF9000;
    width:100%;
    height:15px;
	left: 0;
	right: 0;
	bottom: 0; 
    height:[footer-height] 
}

.topnav a {
	color: blue;
	text-align: right;
	font-weight: normal;
	font-size: 15px;
	float: right;
	padding: 8px;
	margin-top: -15px;
	margin-right: 20px;
}

.searchForm{
	margin-top: 40px;
	text-align: center; 
}

.buttonSearch{
	width: 20px;
	background-image: url(images/search2.png);
	background-repeat: no-repeat;
	border-radius: 15px;
	vertical-align: middle;
}

.restaurants{
	margin: auto;
	margin-bottom: 10px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 15px;
	width: 35%;
}

.infoRestaurant{
	float: right; 
	margin-top: 50px; 
	margin-right: 15px; 
	border-radius: 15px;
	width: 23px; 
	height: 23px;
	background-image: url(images/infoRest.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	
}

