.searchForm{
	margin-top: 40px;
	text-align: center; 
}

.tableCreateRestaurant{
	
	font-size: 24px;
	text-align: left;
	
  	margin-left: auto;
  	margin-right: auto;
}

.tableFrontRestaurant{
	
  	margin-left: auto;
  	margin-right: auto;
}

.nistaBrate{
	
	width: 30px;
	border-bottom: none;
	
}

.formBackground{
	
	background-image: url(../images/formBackground.png);
	background-repeat: no-repeat;
	
}

.backgroundCreateRestaurant{
	
	height: 100vh;
	background-image: url(../images/pozadinaKreiranjeRestorana.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.buttonSearch{
	width: 20px;
	background-image: url(../images/search2.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	border-width: 1px;
}

.buttonSearchDelivery:hover{
	background-color: #79b9b6;
		transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
	
}

.selectSearch{
	
	width: 200px;
	
}

.selectRestaurant{
	
	width: 200px;
	font-size: 16px;
	
}

.selectRestaurant2{
	
	width: 300px;
	font-size: 16px;
	
}

.header{
	
	font-size: 30px;
	
}

.buttonAccept{
	width: 23px;
	heigth: 20px;
	background-image: url(../images/accept.png);
	background-repeat: no-repeat;
	vertical-align : middle;
	margin-right: 15%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.buttonDecline{
	width: 23px;
	height: 22px;
	background-image: url(../images/decline.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}

.commentSection{
	
	width: 50vh;
	height: 20vh;
	
	
}

.background{
	
	background-image: url(../images/pozadinaa.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	width: 100%;
	height: 100%;
}

.lists{
	margin: auto;
	margin-bottom: 2rem;
	border-radius: 10px;
	width: 35%;
	transition: box-shadow 0.5s ease, background-color 0.3s ease;
	background-color: #f6f6f6;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
	text-align:center;
}

.lists:hover{
	box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
	background-color: #bcddef;
	transition: box-shadow 0.5s ease, background-color 0.3s ease;
	cursor: pointer;
}

.lists .details{
	color: #f6f6f6;
	font-family: "Comfortaa", sans-serif; 
}

.listsArticles{
	
	margin: auto;
	margin-top: -1.3rem;
	margin-bottom: 1.5rem;
	transition: box-shadow 0.5s ease;
	border-radius: 8px;
	width: 30%;
	background-color: #dfdfdf;
	box-shadow: 2px 7px 15px rgba(0,0,0,0.2);
	
}

.listsArticles:hover{
	box-shadow: 6px 15px 20px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.5s ease;
}

.infoRestaurant{
	float: right; 
	margin-top: 50px; 
	margin-right: 15px; 
	width: 23px; 
	height: 23px;
	background-image: url(../images/infoRest.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	border-width: 1px;
	cursor: pointer;
	
}

.commentRestaurant{
	float: right; 
	margin-top: 50px; 
	margin-right: 15px; 
	width: 23px; 
	height: 23px;
	background-image: url(../images/commentRest.png);
	background-color: white;
	background-repeat: no-repeat;
	vertical-align: middle;
	border-width: 1px;
	cursor: pointer;
	
}

.welcome{
	margin-top: 150px;
	margin-left: 80px;
	margin-bottom: 475px;
	color: #274E13;
}
.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
     
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
	         100% {opacity: 1;}
    }
         
@keyframes fadeIn {
	0% {opacity: 0;}
        100% {opacity: 1;}
    }
        
.fadeIn {
	-webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

h1,h2,h3,h4,h5,h6{
	color: #2c5453
}